.fourth_background {
    background-color: #FBFBFB;
    width: 100%;
}
.fourth_part {
    max-width: 1400px;
    padding: 30px 100px;
    display: flex;
    height: auto;
    flex-direction: column;
}
.fourth_part h2{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
    color: #F95800;
}
.fourth_part span {
    color: #F95800;
    display: flex;
    font-size: 20px;
    justify-content: left;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .fourth_part {
        overflow-x: hidden;
    }
    
}
@media screen and (max-width: 425px) {
    .fourth_part {
        padding: 30px 20px;
    }
    .fourth_part h2 {
        justify-content: center;
    }
    .fourth_part span {
        text-align: center;
        justify-content: center;
    }
}