@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
}
.sixth_background {
    background-color: #fbfbfb;
    width: 100%;
}
.sixth_part {
    max-width: 1400px;
    padding: 30px 100px;
    display: flex;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
}
.sixth_part h2 {
    text-align: center;
    color: #F95800;
    font-size: 40px;
}
@media screen and (max-width: 768px) {
  .sixth_part {
    max-width: 1400px;
    padding: 30px 50px;
  }
}
@media screen and (max-width: 425px) {
  .sixth_part {
    padding: 30px 20px;
  }
}