@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
}
.first_background {
  background: #fff8f5;
  width: 100%;
}
main {
  padding: 0 100px;
  margin: 0 auto;
  height: auto;
  max-width: 1400px;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.first_title {
  font-size: 45px;
  color: #f95800;
}
.first_paragraph {
  color: #f95800;
  font-size: 19px;
}
.second_portion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second_image {
  max-width: 37%;
}
.second_image img {
  width: 100%;
}
.second {
  display: flex;
  align-items: center;
}
.second .second_title {
  font-size: 80px;
  font-weight: 600;
  color: #f95800;
}
.second .second_title_2 {
  color: #f95800;
  font-size: 20px;
}
.second_last {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .first_title {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 0 20px;
  }
  .first {
    flex-wrap: wrap;
  }
  .second {
    display: none;
  }
  .second_last {
    display: none;
  }
  .second_image {
    max-width: 99%;
  }
}
