@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
a {
    text-decoration: none;
}
.second_background {
    background-color: #FBFBFB;
    width: 100%;

}
.second-part {
    max-width: 1400px;
    height: auto;
    padding: 100px 100px;
    margin: 0 auto;
}
.second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-second-right-first, .section-second-right-second, .section-second-right-third {
    display: flex;
    align-items: center;    
    justify-content: flex-start;
}
.section-second-right-first h3, .section-second-right-second h3, .section-second-right-third h3 {
    padding-left: 20px; 
    color: #F95800;
    font-size: 23px;
}
.section-second-right-first img, .section-second-right-second img, .section-second-right-third img {
    max-width: 100px;
}
.section-second-left-first h2 {
    color: #F95800;
    font-size: 40px;
}
.section-second-left-second p {
    color: #7B7B7B;
    font-size: 25px;
}
.section-second-left-third {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
}
.section-second-left-third-one span {
    color: #F95800;
    font-size: 35px;
    font-weight: 600;
}
.section-second-left-third-one p {
    font-size: 20px;
    color: #F95800;
}
.section-second-left-third-two p {
    font-size: 20px;
    color: #F95800;
}
.section-second-left-third-two span {
    color: #F95800;
    font-size: 35px;
    font-weight: 600;
}
